<!doctype html>
<html lang="en">
    <head>
        <title>Title</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.1/milligram.min.css">
        <style>
            .content {
                max-width: 500px;
                margin: auto;
            }
            .center {
                margin: 0;
                position: absolute;
                top: 50%;
                left: 50%;
                -ms-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
            }
            .header {
                padding: 30px;
                text-align: left;
                background: #9b4dca;
                color: white;
                font-size: 30px;
            }
            .right {
                text-align: left;
            }
        </style>
    </head>
    <body>
        <div class="header">
                <h3><a href="/" style="color:white">Activity Tracker</a></h3>
                <p><a href="/auth/logout" style="color:white" >logout</a></p>
        </div>