<%- include('./partials/header.ejs') %>

<div class="hcenter">

    <h1>Activity Tracker</h1>

    <p>This is a small web application that allows users to track their activities</p>

    <% if(authenticated) { %>
        <p>see your <a href="/behavior/summary"><u>summary</u></a> or make a <a href="/behavior/reporting"><u>report</u></a></p>
    <% } else { %>
        <p><a href="/auth/login"><u>login</u></a> or <a href="/auth/registration"><u>register</u></a> to begin</p>
    <% } %>

    <p> 
    <% if(condition) { %>
        Things are looking bright today
    <% } else { %>
        Things are looking gloomy today
    <% } %>
    according to the users
    </p>    
</div>

<%- include('./partials/footer.ejs') %>