<%- await include('./views/partials/header.ejs') %>
<div class="content">
    <h1>Login!</h1>
    <form method="POST">
        <label for="email">email</label>
        <input type="email" name="email" label="email" id="email"/>
        <label for="password">password</label>
        <input type="password" name="password" label="password" id="password"/>
        <input type="submit" value="Login!" />
    </form>
    
    <%- await include('./views/partials/errors.ejs') %>

    <p>Don't have an account? <a href="/auth/registration">Click here to register!</a></p>

</div>

<%- await include('./views/partials/footer.ejs') %>