<%- await include('./views/partials/header.ejs', { title: 'include example', authenticated: authenticated }) %>

<div class="center">
    <form method="POST">
        <input type="submit" value="logout!" />
    </form>
</div>

<%- await include('./views/partials/footer.ejs') %>