<h1>Register!</h1>
<form method="POST">
    
    <p>email</p>
    
    <input type="email" name="email"/>
    
    <p>password</p>
    
    <input type="password" name="password"/>
    
    <p>verify password</p>
    
    <input type="password" name="verification"/>
    
    <input type="submit" value="Register!" />

</form>