<%- await include('./views/partials/header.ejs') %>

<div class="content">
    <h1>Register!</h1>
    <form method="POST">
    
        <label for="email">email</label>
        <input type="email" name="email" value="<%= email %>" id="email"/>
    
        <label for="pw">password</label>
        <input type="password" name="password" id="pw"/>
    
        <label for="verification">verify password</label>
        <input type="password" name="verification" id="verification"/>
    
        <input type="submit" value="Register!" />
    </form>

    <%- include('./views/partials/errors.ejs') %>
</div>

<%- await include('./views/partials/footer.ejs') %>