<%- include('./partials/header.ejs') %>

<h1>Report!</h1>

<script src="/static/code.js"></script>

<input type="button" id="button" onclick="changeReport()" value="click to fill out an evening report instead"/>

<block style="display:block" id = "morning">

    <h3>morngin report</h3>

    <form method="POST">
        <label for="date1">date</label>
        <input type="date" name="date" id="date1"/>
    
        <label for="sleepdur">sleeping duration</label>
        <input type="number" name="sleep duration" min = "0" step="0.1" id="sleepdur"/>
        
        <label for="sleppqual">sleeping quality</label>
        <input type="number" name="sleep quality" min = "1" max = "5" id="sleepqual"/>
        
        <label for="generalmood1">general mood</label>    
        <input type="number" name="general mood" min = "1" max = "5" id="generalmood1"/>
        
        <input type="submit" value="Submit!" />
    </form>
</block>

<block style="display:none" id = "evening">

    <h3>evening report</h3>

    <form method="POST">

        <label for="date2">date</label>
        <input type="date" name="date" id="date2"/>

        <label for="sportdur">sporting duration</label>
        <input type="number" name="sport duration" min = "0" step="0.1" id="sportdur"/>

        <label for="studydur">studying duration</label>
        <input type="number" name="study duration" min = "0" step="0.1" id=studydur/>

        <label for="eatingreg">eating regularity</label>
        <input type="number" name="eating regularity" min = "1" max = "5" id="eatingreg"/>

        <label for="eatingqual">eating quality</label>
        <input type="number" name="eating quality" min = "1" max = "5" id="eatingqual"/>

        <label for="generalmood2">general mood</label>
        <input type="number" name="general mood" min = "1" max = "5" id="generalmood2"/>
        
        <input type="submit" value="Submit!" />
        </form>
</block>

<%- include('./partials/footer.ejs') %>